// Imports
@import "./partials/_reset.scss";
@import "./partials/_clearfix.scss";
@import "./partials/_general_styles.scss";



// 1. Many small items in a grid
.small-grid-flexbox {
  ul {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    // margin: auto;

    li {

      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 9.7%;
      height: 28px;
    }
  }


  @media (min-width: 900px) {
    ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 400px;
    justify-content: center;
    margin: auto;

      li {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 38px;
        height: 38px;

      }
    } }
}





// 2. 2-Column Grid
.two-col-grid-flexbox {

  @media (min-width: 900px) {
  display: flex;
  flex-direction: row-reverse;

    .column-1 {
      width: 50%;
      height: 60%;
    }

    .column-2 {
      width: 50%;

    }
  }
}



// 3. Centering

.centering-formula-1 {
  display: flex;
  flex-flow: row-nowrap;
  justify-content: center;
  align-items: center;
  .centered {

  }
}
.centering-formula-2 {
  display: flex;
  flex-flow: row-nowrap;
    .centered {
      margin: auto;
    }

}



// 4. Ordering
@media (min-width: 1200px) {
  .ordering-block {
    display: flex;
    justify-content: center;
    .item-a {
      width: 5%;
      margin: 1%;
      order:4;
    }

    .item-b {
      width: 15%;
      margin: 1%;
      order:3;
    }

    .item-c {
      width: 20%;
      margin: 1%;
      order:2;
    }

    .item-d {
      width: 30%;
      margin: 1%;
      order: 1;
    }

  }
}

@media (min-width: 900px) {
  .ordering-block {
    display: flex;
    justify-content: center;
    .item-a {
      width: 5%;
    }

    .item-b {
      width: 15%;
    }

    .item-c {
      width: 20%;
    }

    .item-d {
      width: 30%;
    }

  }
}

// @media (max-width: 899px) {
//   .ordering-block {
//     // justify-content: center;
//     .item-a {
//       width: 100%;
//     }

//     .item-b {
//       width: 100%;
//     }

//     .item-c {
//       width: 100%;
//     }

//     .item-d {
//       width: 100%;
//     }

//   }
// }

